/*-----------CONTACT STYLE-----------*/
.contact_wrapper {
  display: flex;
  position: relative;
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
}

.top {
  width: 45%;
  padding: 25px;
  padding-right: 40px;
  margin-right: 40px;
  box-sizing: border-box;
}

.top_header {
  margin-bottom: 20px;
  line-height: 1.4em;
}
.top_header h1 {
  line-height: 2.6;
}

.top_bulletpoints {
  display: flex;
}
.bulletpoints_icons {
  list-style-type: none;
  margin-right: 8px;
}
.bulletpoints_icons li {
  line-height: 2;
  margin-top: 10px;
}
#tel {
  line-height: 1.3;
}
.bulletpoints {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 350;
}
.bulletpoints li {
  line-height: 2.2;
  margin-top: 10px;
}
.fa-map-marker, .fa-mobile-phone, .fa-envelope {
  color: rgba(231,84,128,1);
}
.fa-mobile-phone {
  font-size: 40px;
}
.fa-map-marker {
  font-size: 30px;
}
.fa-envelope {
  font-size: 24px;
}

.container {
  width: 50%;
  position: absolute;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
  transform: translate(45vw, 40px);
  background-color: rgba(255,255,255,1);
}

.kindercursussen_wrapper  {
  padding: 25px 50px;
  color: white;
  line-height: 1.4em;
  background-color: rgb(231,84,128);
}
.kindercursussen_wrapper h1 {
  line-height: 2.6;
}

.container form {
  padding: 25px;
  margin: 25px;
}
.container input[type=text], .container input[type=email], .container input[type=tel], #subj {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  resize: none;
  border: 1px solid rgb(231,84,128);
  background-color: rgba(231,84,128,0.05);
}
.container input[type=text]:focus, .container input[type=email]:focus, .container input[type=tel]:focus, #subj:focus {
  outline: none;
  border: 1px solid rgba(231,84,128,0.5);
  background-color: rgba(231,84,128,0.1);
}
#subj {
  height: 85px;
}
.container input[type=submit] {
  width: 100%;
  border: none;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  background-color: rgba(231,84,128,1);
}
.container input[type=submit]:hover {
  background-color: rgba(231,84,128,0.8);
  cursor: pointer;
}

/*-----------CONTACT US RESPONSIVE STYLE----------- */

@media only screen and (max-width: 700px) {
  .contact_wrapper {
    flex-direction: column;
    box-sizing: border-box;
  }
  .top {
    width: 100%;
  }
  .container {
    width: 100%;
    position: static;
    transform: translate(0, 0);
  }
}
