.body_wrapper {
  /* overflow-x: unset; */
}

/*-------------BANNER STYLING--------------*/
.banner {
  height: 100vh;
  color: white;
  background-color: salmon;
  text-align: center;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
}
#banner_top_tekst {
  font-size: 3.5em;
  font-weight: 100;
  text-transform: uppercase;
}
#banner_bottom_tekst {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}
#banner_button {
  margin-top: 25px;
}
.button_style {
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 10px 20px;
  background-color: rgba(23,23,23,1);
  transition: background-color 0.5s;
  border-radius: 5px;
}
.button_style:hover{
  background-color: rgba(23,23,23,0.7);
  transition: background-color 0.5s;
}

/*-------------FRONT STYLING--------------*/
.front {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #1E1E1E;
  top: 0;
  left: 0;
  z-index: 15;
}

.front_wrapper {
  display: flex;
  align-items: center;
}
#title_wrapper {
  overflow: hidden;
  text-align: center;
}
.front #title {
  color: white;
  margin-bottom: -12px;
}
.front #title2 {
  color: white;
  margin-top: -12px;
}
.front #title3 {
  color: white;
  margin-top: -12px;
}

.main_first {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  flex-flow: column;
}
.main_top .title {
  font-weight: 200;
  font-size: 2.2em;
  color: rgb(40,40,40);
  text-transform: uppercase;
  text-align: center;
}
.main_top .under_title {
  width: 800px;
  text-align: center;
  line-height: 1.4em;
  margin-top: 25px;
}
.main_top a {
  padding: 10px 40px;
  border-radius: 3px;
  background-color: rgb(40,40,40);
  display: table;
  margin: 20px auto 0px auto;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;
  color: white;
}
.main_top a:hover {
  background-color: rgb(50,50,50);
}
.main_items {
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
}
.main_items {
  text-align: center;
  text-transform: uppercase;
  padding: 40px;
}
.item {
  display: flex;
  flex-flow: column;
  margin: 0 75px;
}
.item_amount {
  font-size: 4em;
  font-weight: 50;
  color: rgb(190,190,190);
}
.item_type {
  font-size: 0.9em;
  font-weight: 400;
}
.big_img {
  height: 500px;
  width: 100%;
  background-image: url('../img/kind_hand_voor_ogen.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
/*--------RESPONSIVE STYLING MAIN FIRST---------*/
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 800px) {
  .main_first {
    display: block;
  }
  .main_top .under_title {
    width: auto;
    padding: 0 15px;
  }
  .item {
    margin: 0 50px;
  }
}
@media only screen and (max-width: 550px) {
  .item {
    margin: 0 30px;
  }
}
@media only screen and (max-width: 400px) {
  .item {
    margin: 0 15px;
  }
}
/*-------SPAN--------*/
.little_thicker {
  font-weight: 300;
}
/*-------SPAN COLORS--------*/
.green_color {
  color: rgba(8,153,46,1);
}
.pink_color {
  color: rgb(231,84,128);
}