.inhoud {
  text-align: center;
  background-color: #b0b8b4ff;
  padding: 20px;
}
#title {
  font-size: 3.5em;
  font-weight: 100;
  text-transform: uppercase;
  color: #fc766aff;
}
#title_under {
  font-size: 1em;
  text-transform: uppercase;
  color: white;
}

.inhoud_block {
  display: block;
  color: white;
  margin: 10px auto;
  width: 1200px;
}
.inhoud_grid_items {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
}
.inhoud_grid_items div {
  margin: 5px;
  background-color: #184a45ff;
  padding: 20px 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0px black;
}

.item_title {
  font-size: 1.2em;
  font-weight: bold;
  padding: 15px;
  text-transform: uppercase;
}
.item_tekst {
  color: rgba(190,190,190,1);
}

@media only screen and (max-width: 1200px) {
  .inhoud_block {
    width: auto;
  }
}
@media only screen and (max-width: 900px) {
  .inhoud_grid_items {
    grid-template-columns: repeat(2, 50%);
  }
}
@media only screen and (max-width: 550px) {
  .inhoud_grid_items {
    grid-template-columns: repeat(1, 100%);
  }
}

.link_accreditatie {
  margin-top: 30px;
  text-align: center;
}
.accreditatie_tekst{
  font-size: 1.1em;
  font-weight: bold;
  color: white;
}
.link_style {
  color: #fc766aff;
}
