/*-------INHOUDS STYLING---------*/
.inhoud {
  text-align: center;
  background-color: rgba(8,153,46,0.6);
  padding: 20px;
}
#title {
  font-size: 3.5em;
  font-weight: 100;
  text-transform: uppercase;
  color: white;
}
#title_under {
  font-size: 1em;
  text-transform: uppercase;
  color: rgb(240,240,240);
}

.inhoud_block {
  display: block;
  color: white;
  margin: 10px auto;
  width: 1200px;
}
.inhoud_grid_items {
  display: flex;
  flex-wrap: wrap;
}
.inhoud_grid_items div {
  width: 32%;
  margin: 5px;
  color: rgb(250,218,221);
  background-color: rgb(86,86,86);
  padding: 20px 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.item_title {
  font-size: 1.2em;
  font-weight: bold;
  padding: 15px;
  text-transform: uppercase;
}
.item_tekst {
  color: rgba(240,240,240,1);
  line-height: 1.4em;
}

@media only screen and (max-width: 1200px) {
  .inhoud_block {
    width: auto;
  }
}
@media only screen and (max-width: 900px) {
  .inhoud_grid_items {
    grid-template-columns: repeat(2, 1fr);
  }
  .inhoud_grid_items div {
    width: 47.9%;
  }
}
@media only screen and (max-width: 550px) {
  .inhoud_grid_items {
    grid-template-columns: repeat(1, 1fr);
  }
  .inhoud_grid_items div {
    width: 100%;
  }
}

.link_accreditatie {
  margin-top: 30px;
  text-align: center;
}
.accreditatie_tekst{
  font-size: 1.1em;
  font-weight: bold;
  color: white;
}
.link_style {
  color: rgb(250,218,221);
}
.link_style:hover {
  color: rgb(255,234,240);
}
/*-------INHOUDS STYLING END---------*/
/*-------ONDERWERPEN & UITBEREIDING STYLING---------*/
/* .onderwerp_uitbereiding_color {
  background: linear-gradient(90deg, rgba(25,75,70,0.2) 50%, rgba(255,74,181,0.2) 50%);
} */
.onderwerp_uitbereiding {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.onderwerpen {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
}
.uitbereiding {
  width: 50%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
}
.uitbereinding_img {
  width: 100%;
}

.lijst_onderwerpen {
  list-style-type: square;
  list-style-position: inside;
}
@media only screen and (max-width: 1200px) {
  .onderwerp_uitbereiding {
    width: auto;
  }
  /* .onderwerpen {
    background-color: rgba(25,75,70,0.2);
  }
  .uitbereiding {
    background-color: rgba(255,74,181,0.2);
  }
  .onderwerp_uitbereiding_color {
    background: linear-gradient(90deg,  rgba(25,75,70,0) 50%, rgba(255,74,181,0) 50%);
  } */
}
@media only screen and (max-width: 550px) {
  .onderwerpen {
    width: 100%;
  }
  .uitbereiding {
    width: 100%;
  }
  .onderwerp_uitbereiding {
    flex-flow: column;;
  }
}
/*-------ONDERWERPEN & UITBEREIDING STYLING END---------*/
