* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  /* border: 1px solid red; */
}

/* deze styling is voor het deactiveren van horizontaal scrollen (voor mobile view) */
.body_wrapper {
  position: relative;
  overflow-x: hidden;
}
